@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(./reset.css);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: radial-gradient(#000, #333);
  background-size: 4px 4px;
}

#wrapper {
  height: 100%;
  overflow: hidden;
}

#video {
  width: 100%; height: 100%;
  transform: rotate(180deg);
}