@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(./reset.css);

body {
  margin: 0;
  background: radial-gradient(#000, #333);
  background-size: 4px 4px;
}

#video {
  display: block;
  width: 100%; height: 100%;
  transform: rotate(180deg);
}